.header-area {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.pg-title {
	width: 11em;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Pacifico', cursive;
}

.pg-subtitle {
	font-family: 'Chelsea Market', cursive;
}

#begin-button {
	margin-left: auto;
	margin-right: auto;
}

#homepage-logo {
	font-size: 9em;
}

.homepage-logo-container {
	width: 21%;
    margin-left: auto;
    margin-right: auto;
}

.homepage-begin-form {
	width: 6.55em;
    padding-left: 42.5%;
    margin-top: 1em;
}

.success-icon {
	margin-right: 1em;
}

:focus{
  outline:none;
}
.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:3em;
  height:3em;
  border-radius:50%;
}
.radio:checked{
  border:0.25em solid #4099ff;
}

.multi-choice-content {
	width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.multi-choice-option {
    background-color: #EFEFEF;
    border-radius: 0.25em;
    border: 0.1em solid #DDD;
    margin-bottom: 0.5em;
}

.multi-choice-text {
	font-size: 1.5em;
    margin-top: 0.7em;
	font-family: "Arima Madurai", cursive;
}

.question-button {
	margin-left: 1em;
}

.question-form {
	width: 9.55em;
	margin: 0;
	padding: 0;
}

#no-answer-alert {
	display: none !important;
}